* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979;
}

.intro {
  background-image: url(../slike/background.jpg);
  height: 70vh;
  padding: 3%;
  align-items: center;
  width: 100%;
}
.intro .mainNavigation {
  background-color: white;
  width: 70%;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.intro .mainNavigation .megarent {
  margin-left: 2em;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.intro .mainNavigation .megarent .orange {
  color: #ff3720;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
  font-size: x-large;
}
.intro .mainNavigation .megarent .gray {
  color: #797979;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
  font-size: x-large;
}
.intro .mainNavigation nav {
  float: right;
  margin-top: 0.5em;
}
.intro .mainNavigation nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
}
.intro .mainNavigation nav ul li {
  justify-content: space-around;
  margin: 10px;
}
.intro .mainNavigation nav ul li a {
  text-decoration: none;
}
.intro .welcome {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  margin-top: 10%;
}
.intro .welcome h1, .intro .welcome h4 {
  color: white;
}
.intro .welcome h1 {
  border-bottom: 1px solid red;
}

.selection {
  padding: 5%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}
.selection .izbor {
  margin-bottom: 25px;
}
.selection .kola {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.selection .kola .prva {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selection .kola .prva img {
  width: 90%;
}
.selection .kola .prva a {
  background-color: #ff3720;
  text-decoration: none;
  color: white;
  width: 150px;
  padding: 1%;
  text-align: center;
  margin-top: 5px;
}

.pricing {
  height: 60vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .dugme {
  visibility: hidden;
}
.pricing .pricingTable {
  width: 50%;
  margin-top: 5em;
  border-collapse: collapse;
  height: 10em;
  text-align: center;
}
.pricing .pricingTable th {
  background-color: red;
  color: white;
}
.pricing .pricingTable tr {
  border-bottom: 1pt solid black;
}
.pricing .pricingTable .bez {
  border-bottom: none;
}
.pricing .pricingTable .first {
  background-color: #e42b15;
}
.pricing .pricingTable .column {
  background-color: #f0f0f0;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  padding: 5%;
}
.contact .gornji {
  display: flex;
  flex-direction: row;
  font-size: x-large;
}
.contact .gornji .orange {
  color: #ff3720;
  font-family: "Raleway", sans-serif;
}
.contact .gornji .gray {
  color: #797979;
  font-family: "Raleway", sans-serif;
}
.contact .srednji {
  background-color: red;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}
.contact .donji {
  padding: 2%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.contact .donji p {
  color: white;
  font-style: italic;
}

@media screen and (max-width: 1350px) {
  .intro .mainNavigation {
    width: 95%;
  }
  .selection {
    height: auto;
  }
  .selection .kola .prva {
    padding: 30px;
    width: 40%;
    margin-left: 7%;
  }
  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .contact .donji {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .intro {
    padding: 0;
    background-image: none;
    background-color: black;
    height: 90vh;
  }
  .intro .mainNavigation {
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .intro .mainNavigation .megarent {
    width: 100%;
  }
  .intro .mainNavigation ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .intro .mainNavigation ul li {
    width: 100%;
    text-align: center;
    padding: 0.5em;
  }
  .intro .welcome {
    width: 100%;
  }
  .selection {
    height: auto;
  }
  .selection .kola .prva {
    width: 60%;
    margin-left: 15%;
  }
  .selection .kola .prva a {
    width: 80%;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    padding-top: 6%;
    font-size: small;
  }
  .pricing {
    padding: 15%;
  }
  .pricing .pricingTable {
    display: none;
  }
  .pricing .dugme {
    visibility: visible;
    background-color: #ff3720;
    color: white;
    text-decoration: none;
    width: 50%;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    padding-top: 4%;
    font-size: small;
  }
  .contact .donji .mapa {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
